<ion-view title="Agreeing Problems" id="page9">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.senseMakingProblems()" id="agreeingProblems-button42" class="button button-positive button-block icon-left ion-chevron-up">2. Sense Making</a>
    <h1 id="agreeingProblems-heading18" style="color:#000000;text-align:center;">3. Problems During Agreeing</h1>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/ANLSC222SHizkVcKsr8g_Jonathan.007.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="agreeingProblems-heading7" style="color:#000000;">Sub Teaming</h1>
    <div id="agreeingProblems-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A part of your group separates itself from the rest regularly and has its own discussions apart from the rest of you. When you come to decide, each sub team has a different understanding of your situation, so you can't agree on which way to go forward.</p>

      <h2>Solution</h2>

      <p style="color:#000000;">Don't worry about getting everyone on the same boat. Instead, go with both of your team's approaches and quickly follow through on both of them. If you're in the POV phase, for example, ideate on and develop prototypes for both of your personas.
        Involve all team members in following through so that all of you can understand why a part of your team was in favor of the approach. Afterwards, you'll have a better basis and will be able to agree more easily.</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/SfiNoxO1TpmGDRr0IXUE_08-NoAgreement.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="agreeingProblems-heading8" style="color:#000000;">Disagreement</h1>
    <div id="agreeingProblems-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Your team can't come to a consensus because your opinion is split.</p>

      <h2>Solution</h2>

      <p style="color:#000000;">There are three possible solutions for this:</p>

      <ol>
        <li>Vote and take the option with the most votes.</li>
        <li>Seek the advice of an outsider. The best example for this is your project partner: Present them your current state and the options you have - what do they think about them? Maybe they have constraints that you did not consider yet or interest
          areas that you're unaware of so far.</li>
        <li>Disregard your missing consensus and do a fast-forward either on one or on both of your aspects. A fast forward means continuing with the process but in a quicker manner, for example in one day except for in two weeks. This can help your team
          get a clearer picture of what you are talking about and therefore reduces your disagreement. If everyone is happy with the outcome, you can keep the current approach. If not, do a fast-forward on one of the other aspects.</li>
      </ol>
    </div>
    <a ui-sref="tabsController.generalProblems()" id="agreeingProblems-button43" class="button button-positive button-block icon-right ion-chevron-down">4. General Problems</a>
  </ion-content>
</ion-view>