<ion-view title="General Problems" id="page10">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.agreeingProblems()" id="generalProblems-button41" class="button button-positive button-block icon-left ion-chevron-up">3. Agreeing</a>
    <h1 id="generalProblems-heading17" style="color:#000000;text-align:center;">4. General Problems</h1>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/xmJ9IwY0Q5ufIZDnftHB_Drawings2.002.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="generalProblems-heading9" style="color:#000000;">No Structure</h1>
    <div id="generalProblems-markdown17" class="show-list-numbers-and-dots">
      <p style="color:#000000;">You don't know how to do synthesis or you're stuck between sharing and organizing? If your approach to synthesis lacks a fundamental structure, the whole team will feel bad about the approach.</p>

      <h2>Solution</h2>

      <p style="color:#000000;">Introduce the role of a structure keeper that knows which steps are done in which order and who knows how the steps are performed. The structure keeper can employ the advice from this app to help him keep going.</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/nO1RSmQtRAyCcvrSBgkq_Drawings2.003.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="generalProblems-heading10" style="color:#000000;">Unclear Roles</h1>
    <div id="generalProblems-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Your team struggles to stay on time or you discuss important topics but nobody bothers to keep notes on your discussion.</p>

      <h2>Solution</h2>

      <p style="color:#000000;">Distribute roles among yourselves. A starting point can be the following roles:</p>

      <ul>
        <li>Note taker</li>
        <li>Time keeper</li>
        <li>Story teller</li>
      </ul>

      <p style="color:#000000;">You can rotate these roles with the role of the story teller or you can keep the note taker and time keeper and just rotate the story teller. Of course, you can always come up with your own roles.</p>
    </div>
  </ion-content>
</ion-view>