<ion-view title="How Is Synthesis Structured?" id="page7">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.whatIsSynthesis()" id="howIsSynthesisStructured-button33" class="button button-positive button-block icon-left ion-chevron-up">What is Synthesis?</a>
    <h1 id="howIsSynthesisStructured-heading13" style="color:#000000;text-align:center;">How is Synthesis Structured?</h1>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/LxWWIk6QZym1SWszsTeG_Synthesis.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="howIsSynthesisStructured-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Generally, synthesis can be divided into three different sub parts:</p>

      <ol>
        <li>Storytelling</li>
        <li>Organizing</li>
        <li>Agreeing</li>
      </ol>
    </div>
    <a ui-sref="tabsController.howToCommunicateInATeam()" id="howIsSynthesisStructured-button34" class="button button-positive button-block icon-right ion-chevron-down">How to Communicate</a>
  </ion-content>
</ion-view>