<ion-view title="How to Communicate In a Team" id="page12">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.howIsSynthesisStructured()" id="howToCommunicateInATeam-button37" class="button button-positive button-block icon-left ion-chevron-up">How is Synthesis Structured?</a>
    <div>
      <img src="img/w0GAUp66ROuRfCAKefY3_Drawings2.001.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="howToCommunicateInATeam-heading11" style="color:#000000;text-align:center;">How to Communicate
      <br> In a Team</h1>
    <div id="howToCommunicateInATeam-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Proper communication is key to a successful synthesis and there are a number of techniques you can employ to improve the communication inside your team.</p>

      <h2>Hear Everybody Out</h2>

      <p style="color:#000000;">Make sure that you get input from all of your team members. Some of them might appear to be unwilling to participate much but the input from them is still very important.</p>

      <h2>Take Notes</h2>

      <p style="color:#000000;">When your team members share their experiences, capture things that are interesting to you and hang them up for everyone to see. Also, when your team has a discussion, make sure that none of the points you talk about get lost. It's much easier to
        get back to a point if you have written it down!</p>

      <h2>Defer Judgment</h2>

      <p style="color:#000000;">If you disagree with one of your team members, first make sure that you understood them correctly. Ask them to outline their thoughts more broadly and try to build on them.</p>

      <h2>Show Don't Tell</h2>

      <p style="color:#000000;">Make your talking points understood better by visualizing them, maybe even with a prototype. It's much easier for your team members to grasp something visually, especially if it's something that you are more familiar with than they are.</p>
    </div>
  </ion-content>
</ion-view>