<ion-view title="Problems " id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="problems-list3">
      <ion-item class="item-icon-left item-icon-right" id="problems-list-item9" ui-sref="tabsController.storytelling()">
        <i class="icon ion-chatbubbles"></i>Storytelling
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="problems-list-item11" ui-sref="tabsController.senseMakingProblems()">
        <i class="icon ion-briefcase"></i>Sense Making
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="problems-list-item10" ui-sref="tabsController.agreeingProblems()">
        <i class="icon ion-arrow-shrink"></i>Agreeing
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="problems-list-item12" ui-sref="tabsController.generalProblems()">
        <i class="icon ion-star"></i>General
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="problems-list-item14" ui-sref="tabsController.spottingSynthesisProblems()">
        <i class="icon ion-eye"></i>How to Spot Problems
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>
    <a href="mailto:jonathan.herdt@student.hpi.de" id="problems-button1" class="button button-positive button-block">Share your own problems / solutions</a>
  </ion-content>
</ion-view>