<ion-view title="Sense Making Problems" id="page8">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.storytelling()" id="senseMakingProblems-button39" class="button button-positive button-block icon-left ion-chevron-up">1. Storytelling</a>
    <h1 id="senseMakingProblems-heading16" style="color:#000000;text-align:center;">2. Problems During
      <br>Sense Making</h1>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/CyV52ebOT4yelnBwJD5k_Jonathan.006.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="senseMakingProblems-heading6" style="color:#000000;">Framework Uncertainty</h1>
    <div id="senseMakingProblems-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#000000;">You have shared successfully but now you're unsure which framework to use to organize your input.</p>

      <h2>Solution</h2>

      <p style="color:#000000;">There's no works-for-all solution here. Get in touch with your coach to see whether they know a framework that works well in your current situation.</p>
    </div>
    <a ui-sref="tabsController.agreeingProblems()" id="senseMakingProblems-button40" class="button button-positive button-block icon-right ion-chevron-down">3. Agreeing</a>
  </ion-content>
</ion-view>