<ion-view title="Spotting Synthesis Problems" id="page11">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.generalProblems()" id="spottingSynthesisProblems-button36" class="button button-positive button-block icon-left ion-chevron-up">4. General</a>
    <h1 id="spottingSynthesisProblems-heading12" style="color:#000000;text-align:center;">How to Spot Synthesis Problems</h1>
    <div id="spottingSynthesisProblems-markdown19" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Most synthesis problems only become obvious when a team tries to come to a consensus. At this point, it might already be too late to fix a problem that has existed earlier so spotting and dealing with problems as they arise is important. Here are
        three different problem areas that you can look out for:</p>

      <h2>1. Hiders</h2>

      <p style="color:#000000;">These problems hide the missing consensus from your team. Make sure you take input from every one on your team, that everyone knows that there is no limit as what you can interpret into your observations and that all of your team members are present
        for the synthesis phase.</p>

      <h2>2. Delayers</h2>

      <p style="color:#000000;">Delayers are problems that cause your team to spend more time on trying to agree without actually changing your team's opinion. If you make sure your team knows how to approach synthesis by providing a clear structure, you won't run into these problems.
        They include not having clear roles, not knowing what the goal of synthesis is or how to get there and not getting into flow.</p>

      <h2>3. Causes</h2>

      <p style="color:#000000;">Causes lead to a missing consensus. Watch out for signs that your team members can't communicate properly with each other, that sub teams might form or that there is no appreciation between team members.</p>

      <p style="color:#000000;">You will find a selection of problems and what to do about them in the "Problems" tab of this app.</p>
    </div>
  </ion-content>
</ion-view>