<ion-view title="Storytelling" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="storytelling-heading15" style="color:#000000;text-align:center;">1. Problems During Storytelling</h1>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/YYIDWoUvQc6o6aODKlod_Jonathan.003.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="storytelling-heading1" style="color:#000000;">Uncertainty</h1>
    <div id="storytelling-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">You're uncertain which parts of your material are worth sharing and whether you're allowed to share assumptions with your team.</p>

      <h2>Solution</h2>

      <p style="color:#000000;">Share as much as you want while respecting your available time frame. Don't worry about oversharing or about sharing things about which you're uncertain whether they apply in the way you're thinking. You will narrow your sharings down soon enough
        and will test them out with real users so that any false assumptions you made will become obvious.</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/636Lz3EQyPQVSNEBI6MA_Jonathan.005.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="storytelling-heading3" style="color:#000000;">Silent
      <br>Team Members</h1>
    <div id="storytelling-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">You feel like a part of your team isn't contributing everything they have, maybe because she never gets to talk or is rather silent.</p>

      <h2>Solution</h2>

      <p style="color:#000000;">Prepare your sharing session individually and then take turns, making sure you hear and capture what everybody has to say.</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/BZTBgcOISPaonNK1tSzT_Drawings2.005.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="storytelling-heading4" style="color:#000000;">Misunderstanding Each Other</h1>
    <div id="storytelling-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">You can't understand what your team mate is trying to tell you? Or are you the one who feels misunderstood? </p>

      <h2>Solution</h2>

      <p style="color:#000000;">Try "show don't tell": With a video or, better, with a simple prototype (think: Lego or paper) that transports your idea.</p>
    </div>
    <a ui-sref="tabsController.senseMakingProblems()" id="storytelling-button38" class="button button-positive button-block icon-right ion-chevron-down">2. Sense Making</a>
  </ion-content>
</ion-view>