<ion-view title="Synthesis in Theory" id="page3">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/QkR2x1PxSa8bUkRU4NGb_the-squiggle-edited.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <ion-list id="synthesisInTheory-list2">
      <ion-item class="item-icon-right" id="synthesisInTheory-list-item2" ui-sref="tabsController.whatIsSynthesis()">What is Synthesis?
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="synthesisInTheory-list-item3" ui-sref="tabsController.howIsSynthesisStructured()">How is Synthesis Structured?
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="synthesisInTheory-list-item13" ui-sref="tabsController.howToCommunicateInATeam()">How to Communicate
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>