<ion-view title="What is Synthesis?" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="whatIsSynthesis-heading14" style="color:#000000;text-align:center;">What is Synthesis?</h1>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/qRWVhPvTdqD5WEHt6mar_DivergeConvergewithHighlights2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="whatIsSynthesis-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Synthesis is the phase in Design Thinking during which a team gets to decide on the path forward. As indicated in the image above, you're doing synthesis in three instances:</p>

      <ol>
        <li>When you decide on a POV</li>
        <li>When you decide on a prototype</li>
        <li>When you decide on an iteration</li>
      </ol>

      <p style="color:#000000;">As you can see from these three short descriptions, the synthesis phase is very decision-heavy which makes it challenging but if it is done right, the results can have a major positive influence on the project.</p>

      <p style="color:#000000;">Before you get to decide, though, you first need to make sure everyone on your team knows everything you have researched so far. After that, you organize all of your available information which might provide a new perspective on it. Finally, you
        get to decide on which aspect you will focus your energy on.</p>

      <p style="color:#000000;">Teams often perceive synthesis to be very demanding. Here's the good news, though: Once your team has settled on a decision, your team's morale will experience a boost that will help you go progress further.</p>
    </div>
    <a ui-sref="tabsController.howIsSynthesisStructured()" id="whatIsSynthesis-button32" class="button button-positive button-block icon-right ion-chevron-down">How is Synthesis Structured?</a>
  </ion-content>
</ion-view>